ul li {
  list-style: none; }

* {
  margin: 0;
  padding: 0; }

.fheard {
  height: 200px;
  width: 100%;
  background-color: #fff;
  position: relative; }

.topBar {
  height: 30px;
  width: 100%; }

.topBarOn {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
  position: relative; }

.shoopcart {
  font-size: 12px;
  color: #999;
  line-height: 30px;
  float: right;
  padding-left: 17px;
  background: url(../img/shopcart.png) no-repeat 0 9px; }

.vertical {
  float: right;
  color: #999;
  margin-right: 5px;
  line-height: 30px; }

.bara {
  padding: 0 20px 0 10px;
  font-size: 12px;
  color: #999;
  line-height: 30px;
  float: right; }

.barb {
  height: 30px;
  padding: 0 10px 0 15px;
  font-size: 12px;
  color: #999;
  line-height: 30px;
  float: right;
  position: relative; }

.barbDiv {
  position: absolute;
  top: 30px;
  left: 0;
  background: #ccc;
  width: 100px;
  padding-left: 17px;
  display: none; }

.barbDiv a {
  width: 100px;
  display: block;
  font-size: 12px;
  line-height: 15px;
  padding-top: 5px; }

.barc {
  padding: 0 20px 0 10px;
  font-size: 12px;
  color: #999;
  line-height: 30px;
  float: right; }

.bard {
  font-size: 12px;
  color: #999;
  line-height: 30px;
  float: right; }

.bard a {
  padding: 0 10px 0 10px; }

.topBar-Logo {
  position: absolute;
  left: 0;
  top: 20px; }

.topBar-Logo a {
  width: 42px;
  height: 100px;
  display: block;
  float: left;
  margin-right: 15px;
  background: url(../img/logo.png); }

.topBar-Logo div {
  float: left; }

.searchBar {
  width: 1200px;
  height: 155px;
  margin: 0 auto;
  position: relative; }

.search-count {
  width: 485px;
  height: 35px;
  position: absolute;
  top: 30px;
  left: 260px; }

.search-input {
  width: 415px;
  height: 31px;
  border: 2px solid #463b7f;
  float: left;
  border-right: none; }

.search-input input {
  width: 400px;
  height: 31px;
  line-height: 31px;
  border: none;
  padding-left: 5px;
  font-size: 12px;
  color: #999; }

.search-sea {
  width: 68px;
  height: 35px;
  float: left;
  background: #463b7f; }

.search-sea a {
  width: 68px;
  height: 35px;
  display: block;
  line-height: 35px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center; }

.search-hot {
  position: absolute;
  top: 70px;
  left: 255px;
  height: 14px; }

.search-hot a {
  font-size: 12px;
  color: #999;
  padding: 0 5px; }

.search-bar-head {
  height: 45px;
  position: absolute;
  left: 245px;
  bottom: 0; }

.search-bar-head a {
  float: left;
  font-size: 14px;
  font-weight: blod;
  color: #000;
  line-height: 60px;
  padding: 0 15px 0 15px; }

.search-bar-head #search-bar-heada {
  background: url(../img/hot.gif) no-repeat 70px 8px; }

.search-app {
  width: 96px;
  height: 121px;
  position: absolute;
  right: 5px;
  bottom: 10px;
  background: url(../img/app_bg.gif); }

.carous-fa {
  width: 100%;
  height: 400px; }

.carous {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  position: relative; }

.carous-img {
  width: 1200;
  height: 400px;
  margin-left: 180px;
  overflow: hidden;
  position: relative; }

.carous-img ul li {
  width: 1200px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0; }

.carous-img ul .carous-imga .img1 {
  position: absolute;
  top: 0;
  left: -10px; }

.carous-img ul .carous-imga .img2 {
  position: absolute;
  left: 570px;
  top: 0px; }

.carous-btn {
  width: 105px;
  height: 30px;
  background: #000000;
  opacity: 0.5;
  position: absolute;
  left: 540px;
  bottom: 10px;
  border-radius: 30px;
  padding-top: 5px; }

.carous-btn ul li {
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  margin: 5px 15px; }

.carous-btn ul .active {
  background: #463B7F; }

.carous a {
  width: 50px;
  height: 100px;
  background: #000000;
  opacity: 0.6;
  line-height: 100px;
  font-size: 50px;
  color: #FFFFFF;
  text-align: center;
  display: none;
  z-index: 10; }

.carous .btn-prev {
  position: absolute;
  left: 210px;
  top: 140px; }

.carous .btn-next {
  position: absolute;
  top: 140px;
  left: 1130px; }

.shoopBar {
  width: 180px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 160px;
  margin-left: -600px; }

.allShoop {
  width: 180px;
  height: 35px;
  background: #382f6b; }
  .allShoop a {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    height: 35px;
    width: 180px;
    line-height: 35px;
    text-align: center; }

.shoopCate {
  width: 180px;
  height: 565px; }
  .shoopCate dl {
    width: 170px;
    height: 50px;
    background: #463b7f;
    padding-left: 10px;
    padding-top: 10px; }
  .shoopCate dt strong {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 20px; }
  .shoopCate dt p {
    font-size: 12px;
    color: #FFFFFF; }

/*# sourceMappingURL=homePage.css.map */
