*{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
.secondheard{
    width: 100%;
    height: 80px;
    background: #000000;
    
}
.secondheard .secondheard_ma{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}
.secondheard_ma .secondheard_mb{
    overflow: hidden;
    float: left;
}
.secondheard_ma .secondheard_mc{
    overflow: hidden;
    float: right;
}
.secondheard_ma .secondheard_mc a{
    font-size: 12px;
    color: #999999;
    line-height: 80px;
    display: inline-block;
    padding-right: 20px;
}
.secondheard_mc a:hover{
    color: #FFA500;
}
.ligin{
    width: 100%;
    height: 800px;
    background: #0000FF;
}
.liginer{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}
.liginer-box{
    width: 400px;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    top: 200px;
    right: 10px;
    background: #FFFFFF;
}
.liginer-box h4{
    font-size: 30px;
    line-height: 50px;
    color: #FFA500;
    text-align: center;
}
.liginer-li{
    width: 350px;
    height: 50px;
    border: 1px solid #CCCCCC;
    margin-top: 30px;
}
.liginer-li input{
    width: 250px;
    height: 50px;
    border: none;
}
.liginer-li .hint{
    width: 100;
    height: 50;
    display: inline-block;
    float: right;
    font-size: 12px;
    line-height: 50px;
    color: #FF0000;
}
.lingin-fir{
    height: 40px;
    line-height: 40px;
}
.lingin-sec{
    width: 350px;
    height: 50px;
    background: #FFA500;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    border: none;
}
.lingin-thir{
    overflow: hidden;
    padding-top: 10px;
}
.lingin-thir p{
    font-size: 12px;
    color: #999999;
}
.lingin-four{
    font-size: 12px;
    color: #999999;
    line-height: 30px;
}
.lingin-four span a{
    color: #FFA500;
}
.lingin-four-fr{
    color: #808080;
    display: inline-block;
    float: right;
}
//底部
.foot{
    width: 100%;
    margin-top: 30px;
    .foot-text{
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        .foot-text-dl{
            overflow: hidden;
            float: $fl;
            padding-right: 70px;
            dt{
                font-size: $size;
                font-weight: bolder;
                line-height: 20px;
            }
            dd{
                font-size: $size;
                color: #999999;
                line-height: 30px;
            }
        }
        dl:nth-of-type(5) dd .foot-text-dl-div{
            width: 350px;
            font-weight: bolder;
            line-height: 20px;
            color: #000;   
        }
        dl:nth-of-type(5) dd .foot-text-dl-div1{
            width: 300px;
            height: 30px ;
            line-height: 20px;
            color: #999999; 
            a{
                display: inline-block;
                padding-right: 50px;
            }  
        }
    }
    .foot-cent{
        width: 100%;
        height: 40px;
        background: #382F6B;
        ul{
            overflow: hidden;
            width: 1200px;
            margin: 0 auto;
            li{
                display: block;
                float: $fl;
                height: 40px;
                font-size: 20px;
                color: #FFFFFF;
                line-height: 40px;
                padding-right: 120px;
            }
        }
    }
    .foot-list{
        width: 100%;
        overflow: hidden;
        padding-top: 30px;
        .foot-lister{
            width: 1200px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
           .foot-lister1{
               font-size: $size;
               color: #999999;
               line-height: 20px;
               p a{
                   display: inline-block;
                   padding-right: 30px;
               }
           } 
           .foot-lister2{
               font-size: $size;
               color: #999999;
               line-height: 30px;
               p span{
                   padding-right: 20px;
               }
           }
           .foot-lister3 a{
               display: inline-block;
               padding-right: 30px;
               font-size: $size;
               color: #999999;
           }
           .foot-lister4 p{
               font-size: $size;
               color: #999999;
               line-height: 30px;
           }
           .foot-lister5 a{
               display: inline-block;
               padding-right: 30px;
               img{
                   height: 40px;
               }
           }
           .foot-lister6{
               overflow: hidden;
               position: absolute;
               top: 0;
               right: 10px;
               li{
                   display: inline-block;
                   width: 110px;
                   float: $fl;
                   text-align: center;
                   p{
                       font-size: $size;
                       color: #999999;
                   }
               }
           }
        }
    } 
}